<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <form action="http://localhost:8080/create/pallet" method="POST">
        <label for="weight">gross weight:</label><br>
        <input type="number" id="weight" value="weight" name="weight"><br>
        <label for="origin">inventory:</label><br>
        <input type="number" id="origin" value="inventory" name="origin"><br>
        <input type="submit" /><br>
    </form>
</body>
</html>